*,
*::after,
*::before {
    box-sizing: border-box;
}

/* * {
    border: red solid 2px;
} */

u,
p {
    margin: 0;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* scrollbar style change */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar:hover {
    cursor: auto;
    cursor: pointer;
}

::-webkit-scrollbar-track {

    border-radius: 22px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 22px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


:root {
    --slider-padding: 5rem;
}

/* * {
    outline: 1px solid red;
    outline-offset: -1px;
} */

body {
    margin: 0;
    background-color: #333;
    color: #fefae0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .3rem;
    overflow: hidden;
}

/* main section */

.main-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}

/* search section  */
.search-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    

    position: relative;


}



.search-element form {
    margin: 2%;
}

.search-element #search-form .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
}

#searchForm {
    height: 50px;
    display: flex;
}


#searchForm button {
    border: #edf2f4 solid 2px;
    color: #edf2f4;
    background-color: #333;
    transition: all 250ms ease-in-out;
    font-size: 1.5rem;
    padding: 0 1rem .2rem;
}

#searchForm button:hover {
    border: black solid 2px;
    color: #333;
    background-color: #edf2f4;
}

#searchForm input {
    width: 250px;
    margin-right: 1rem;
}

/* result type buttons */

#result-type-container {
    display: flex;
    margin: 1rem 0;
    padding: 0;
}

.result-btn {
    background-color: white;
    color: black;
    border: black solid 2px;
    list-style: none;
    padding: .5rem 1rem;
    cursor: pointer;
}



.active,
.result-btn:hover {
    background-color: black;
    color: white;
    border: white solid 2px;
}

/* dropdown search list */

.search-list {
    position: absolute;
    width: 100%;
    right: 0;
    top: 100%;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 10;

    flex-direction: column;
    align-items: center;
    display: none;
    opacity: 0;
    height: 0;
    transition: 1s ease-in-out;
}



.search-list .search-list-item {
    background-color: black;
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: 100%;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}

.search-list .search-list-item:Hover {
    background-color: #1f1f1f;
}

.search-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: center;

}

.search-item-thumbnail img {
    width: 40px;
    margin-right: 1rem;
}

.search-item-info h3 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}

.search-item-info p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
    margin: 0;
}

.img-flex-container {
    background-color: aliceblue;

}

/* individual result modal */

#modal {
    z-index: 100;
}

.overlay {
    position: fixed;

    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.result-container {
    background-color: black;
    width: 80%;
    min-width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.movie-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-poster,
.movie-info {

    margin: 0 1rem 1rem;
    letter-spacing: .2rem;
    text-align: center;
    color: #fff;
}

.movie-poster img {
    max-width: 350px;
    margin: 0 auto;
    border: 4px solid #fff;
}



/* movie info stylings */
.movie-title {
    font-size: 2rem;
    color: lightgoldenrodyellow;
    margin-bottom: 1rem;
}

.movie-misc-info {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;

}

.movie-misc-info li {
    margin: 0 .3rem;
}


.movie-info .rated {
    background-color: var(--yellow-color);

    border-radius: 3px;

}

.movie-info span {
    color: lightblue;
}

.movie-info .plot {
    max-width: 400px;
    margin: 1rem auto;
}


.modal-buttons {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.modal-btn {
    color: white;
    background-color: black;
    border: white solid 2px;
    padding: .5rem 2rem;
    transition: 200ms ease-in-out;
    cursor: pointer;
    margin: 0 1rem;
    text-decoration: none;
}

.modal-btn:hover {
    color: black;
    background-color: white;
    border: black solid 2px;

}

/* results slider */

.slider-container {
    margin-top: 3rem;
    display: flex;
    height: 0;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease-in-out;

}

.slider {
    --images-per-screen: 5;
    --slider-index: 0;
    flex-grow: 1;
    display: flex;
    margin: 0 .25rem;
    transform: translateX(calc(var(--slider-index)*-100%));
    transition: transform 500ms ease-in-out;


}

.movie-container {
    position: relative;
    max-width: calc(100%/var(--images-per-screen));
    flex: 0 0 calc(100%/var(--images-per-screen));
    padding: 0 .3rem;
    border-radius: 50%;
    transition: 500ms ease-in-out;
    display: inline-block;



}

.movie-container img {
    width: 100%;
    aspect-ratio: 16/16;
    min-height: 100;


}

/* .movie-container img:hover {
    filter: blur(1.5rem);
} */


.movie-container:hover {
    transform: scale(1.5);
    /* filter: blur(3px); */
    z-index: 100;
    flex-basis: 3;

}



.info-container,
.bio-overlay {
    position: absolute;
    width: 100%;

    opacity: 0;
    transition: 0.7s ease-in-out;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.17);
}



.info-container {
    background: black;
    border: white solid 1px;
    color: white;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;


}

.movie-container:hover .info-container {
    opacity: .9;
}

.info-container h3,
.info-container h4 {
    letter-spacing: .1rem;
    text-align: center;
    max-width: 80%;
}



.info-container .movie-title {
    font-size: 1.5rem;
}


.info-container h4 {
    font-size: .6rem;
}

.info-container h4:nth-of-type(1) {
    margin-top: .3rem;
}

.hover-btn {
    font-size: .5rem;
    color: black;
    background-color: white;
    padding: .15rem .4rem .3rem .6rem;
    opacity: 1;
    transition: 250ms ease-in-out;
    cursor: pointer;

    letter-spacing: 3px;
    margin-top: .5rem;

}

.hover-btn:hover {
    background-color: #333533;
    color: white;
}

.bio-overlay {
    background: white;
    border: black solid 2px;
    color: black;
    display: flex;
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    display: block;
    font-size: .7rem;
    cursor: default;
    margin: 0;
    padding: 1rem;
    justify-content: center;
    position: absolute;
    width: 100%;

    opacity: 0;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.17);
}



.bio-overlay h4 {
    font-size: 1rem;
    text-align: center;
    border-bottom: black solid 1px;

}

.bio-overlay p {
    margin: 1.5rem 1rem 1rem;
    text-align: center;


}



.close-bio-text {
    position: absolute;
    left: 18px;
    top: 10px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
}

.close-bio-text:hover {
    opacity: 1;
    cursor: pointer;
}

.close-bio-text:before,
.close-bio-text:after {
    position: fixed;
    left: 18px;
    content: ' ';
    height: 15px;
    width: 3px;
    background-color: #333;
}

.close-bio-text:before {
    transform: rotate(45deg);
}

.close-bio-text:after {
    transform: rotate(-45deg);
}

.moreBtn {
    font-size: .5rem;
    color: black;
    background-color: white;
    padding: .15rem .4rem .3rem .6rem;
    text-align: center;
    transition: 250ms ease-in-out;
    border: black solid 2px;
    margin: 0;
}


.handle {
    border: none;

    flex-grow: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    cursor: pointer;
    height: 0;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    transition: all 1s ease-in-out;
    opacity: 0;


}

.handle:hover,
.handle:focus {
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, 1);
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.arrow {
    font-size: 8rem;
    transition: transform 150ms ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 40px;

}

.arrow:hover,
.arrow:focus {
    transform: scale(1.2);
}

.row {
    --bs-gutter-x: 0;
}

.header-info {
    display: flex;
    opacity: 0;
    height: 0;
    transition: 1s ease-in-out;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.title {
    margin: 0;

}

.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: .25rem;
    width: 50%;
    margin-right: 0;
}

.progress-item {
    flex: 0 0 2.5rem;
    min-width: 2.5rem;
    height: .3rem;
    background-color: rgba(255, 255, 255, .4);
}

.progress-item.active {
    background-color: rgba(255, 255, 255, .9);
}

.no-results {
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    height: 0;

    transition: 1s;
}



@media screen and (max-width: 1200px) {
    .slider {
        --images-per-screen: 4;
    }

    .search-element form {
        margin: 4%;
    }
}

@media screen and (max-width: 992px) {
    .slider {
        --images-per-screen: 3;
    }

    .title {
        font-size: 1.3rem;
    }
}